// .signin-box{
//   display:flex;
//   align-items: center;
//   flex-direction: column;
// }
// .signin-title{
//   display: flex;
//   flex-direction: column;
//   color:#ffffff;
// }
// .signin-input{
//   display: flex;
//   flex-direction: column;
//   color:#000000;
// }
.signin-header{
  display: flex;
  justify-content: center;
}

.dummy-input-field .mat-input-placeholder {
  color: red;
}
.dummy-input-field.mat-focused .mat-input-placeholder {
  color: red;
}

.signin-input{
  display: flex;
  flex: auto;
  justify-content: center;
}

.login-field{
  display: flex;
  flex: auto;
  justify-content: center;
}

.register-field{
  display: flex;
  flex: auto;
  justify-content: center;
}

.error-field{
  display: flex;
  flex: auto;
  justify-content: center;
}
