.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  display: flex;
  flex: auto;
  justify-content: center;
}

/* The navigation bar */
mat-toolbar {
  position:fixed; // Ensures that it stays up top
  z-index: 1;     // z-index = ensures stack order (Who should be in front)
  top: 0px;       // There's space above, so 0 space
}
