.search-title{
  display:flex;
  justify-content: center;
  align-content: center;
}
.search-input{
  display:flex;
  flex: auto;
  justify-content: center;
  width: 100%;

}
.search-btn{
  display: flex;
  justify-content: center;
  align-self: center;
}

.search-items {
  display: flex;

  color:black;
  text-align: center;
  font-family: Courier
}

// .product-list{
//   display: flex;
//   flex: auto;
//   flex-direction: column;
//   align-items: center;
// }

mat-card {
  box-shadow: none !important;
}
.example-card {
  max-width: 300px;
  min-width: 100px;
}
.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.cardList {
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 100px;
}

 /* Column Gap */
.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
}

.card-content{
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
mat-card-actions{
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
}
.item-name{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}
