
<div class="search-title">
  <h1>Search</h1>
</div>
<div class="search-input">
  <mat-form-field>
    <input matInput placeholder="Search">
  </mat-form-field>
</div>
<div class="search-btn">
    <button mat-raised-button color="primary">Search</button>
</div>

<!-- <table style="width:100%">
  <tr *ngFor="let item of allItems">
    <td><h3>{{item.name}}</h3><br><img src='{{item.image}}'></td>
    <td><select>Quantity:<option *ngFor="let quant of item.quant_arr" value={{quant}}>{{quant}}</option></select></td>
    <td>Price: ${{item.price}}</td>
    <td>Description: {{item.description}}</td>
  </tr>
</table> -->

<div class="search-items" *ngFor="let item of itemSVC.allItems">
<!-- <div class="search-items" *ngFor="let item of allItems"> -->
  <h3 (click)="detailPageRedirect(item)">{{item.name}}</h3><br>
  <img src='{{item.image}}' height="300" widtd="200" class="center"><br>
  <!-- Description: {{item.description}}<br> -->
  Price: ${{item.price}}<br>
  <select *ngIf="item.stock != 0" id="{{item.id}}">
    Quantity:<option *ngFor="let quant of item.quant_arr" value={{quant}}>{{quant}}</option>
  </select>
  <h2 *ngIf="item.stock == 0">Out of Stock!</h2>
  <br>
  <button *ngIf="item.stock != 0" (click)="addToCart(item)">Add To Cart</button>
</div>
