<div class="welcome-header">
  Welcome To The Otter Shop Co.
</div>

<ngb-carousel class="text-center container" [showNavigationArrows]="true" [showNavigationIndicators]="false" *ngIf="images">
  <ng-template ngbSlide *ngFor="let image of images">
    <img class='img-main-carousel' [src]="image">
    <div class="carousel-caption">
      <h3>Otter Wear</h3>
      <button>Shop Now</button>
    </div>
  </ng-template>
</ngb-carousel>

<div class="clothing_images_parent">
  <img class="c_image_child" *ngFor="let image of clothing_images" [src]="image">
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
