<!-- Title -->
<div class="welcome-header">
  Otter Shop Co.
</div>

<!-- Carousel -->
<div class="top_side">
  <ngb-carousel class="text-center container" [showNavigationArrows]="false" [showNavigationIndicators]="false" *ngIf="images">
    <ng-template ngbSlide *ngFor="let image of images">
      <img class='img-main-carousel' [src]="image">
      <div class="carousel-caption">
        <h3>OTTER WEAR</h3>
        <button [routerLink]="['/search']">Shop Now</button>
      </div>
    </ng-template>
  </ngb-carousel>

  <!-- About Us -->
  <!-- Photo + Descripition -->
  <div class="about">
    <img class="about_img" src="https://cdn.shopify.com/s/files/1/2445/4975/files/SWEATERSweb2_1800x.jpg?v=1541543869">
    <table>
      <tr>
        <td>
          <div class="about_des">
            <p class="title">Welcome to Ottershop Co.</p>
            <p class="des">
              We're proud to announce our upcoming exclusive most
              greatest apparel yet. Our hopes to becoming a
              better clothing brand is to provide a convenient
              and inspiring experience for our customers. Our brand
              reaches customers in stores and online.
              and online.
            </p>
            <p class="des">
              Our brands offer customers a wealth of styles and trends
              within fashion. We work to improve of our apparel to always be relevant.
            </p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- New Arrivals -->
<div class="divided_line hp_midtitle txc t_dark" style="text-align: center;">
  <span>
    New Arrivals
  </span>
</div>

<div class="wrapper">
  <div class="clothing_images_parent" *ngFor="let i of [itemSVC.allItems.length - 1, itemSVC.allItems.length - 2, itemSVC.allItems.length - 3, itemSVC.allItems.length - 4]">
    <img class="c_image_child" [src]="itemSVC.allItems[i].image" (click)="detailPageRedirect(itemSVC.allItems[i])">
    <h5 class="c_name_child">{{itemSVC.allItems[i].name}}</h5>
    <h3 class="c_price_child">Price: ${{itemSVC.allItems[i].price.toFixed(2)}}</h3>
  </div>
</div>

<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
<!-- Best Sellers -->
<div class="divided_line hp_midtitle txc t_dark" style="text-align: center;">
  <span>
    Best Sellers
  </span>
</div>

<div class="wrapper">
  <div class="clothing_images_parent" *ngFor="let i of [0, 1, 2, 3]">
    <img class="c_image_child" [src]="itemSVC.allItems[i].image" (click)="detailPageRedirect(itemSVC.allItems[i])">
    <h5 class="c_name_child">{{itemSVC.allItems[i].name}}</h5>
    <h3 class="c_price_child">Price: ${{itemSVC.allItems[i].price.toFixed(2)}}</h3>
  </div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
