<div class="welcome-header">
  Welcome To The Otter Shop Co.
</div>

<ngb-carousel class="text-center container" [showNavigationArrows]="false" [showNavigationIndicators]="false" *ngIf="images">
  <ng-template ngbSlide *ngFor="let image of images">
    <img class='img-main-carousel' [src]="image">
    <div class="carousel-caption">
      <h3>Otter Wear</h3>
      <button>Shop Now</button>
    </div>
  </ng-template>
</ngb-carousel>

<div class="wrapper">
  <div class="clothing_images_parent" *ngFor="let i of [itemSVC.allItems.length - 1, itemSVC.allItems.length - 2, itemSVC.allItems.length - 3, itemSVC.allItems.length - 4]">
    <img class="c_image_child" [src]="itemSVC.allItems[i].image" (click)="detailPageRedirect(itemSVC.allItems[i])">
    <h3>Price: ${{itemSVC.allItems[i].price.toFixed(2)}}</h3>
  </div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
