.welcome-header{
  display: flex;
  flex: auto;
  justify-content: center;
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 5px;
<<<<<<< Updated upstream
  padding: 2%;
=======
  padding: 15%;
>>>>>>> Stashed changes
}

ngb-carousel {
  margin: auto; width: 50%; height: auto;
}



